<div class="container-fluid">
    <div class="col_image">
        <img class="clock_image" src="assets/images/clock_bg.png">
    </div>
    <div class="col_form">
        <div class="container" id="log_in_form">
            <div class="row justify-content-center">
                <input type="text" class="form-control" placeholder="Usuario" aria-label="Usuario" aria-describedby="basic-addon1">
            </div>
            <div class="row justify-content-center">
                <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" aria-describedby="basic-addon1">
            </div>
            <div class="row justify-content-center">
                <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido" aria-describedby="basic-addon1">
            </div>
            <div class="row justify-content-center">
                <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
            </div>
            <div class="row justify-content-center">
                <input type="text" class="form-control" placeholder="Contraseña" aria-label="Contrasenia" aria-describedby="basic-addon1">
            </div>
            <div class="row justify-content-center">
                <input type="text" class="form-control" placeholder="Confirmar contraseña" aria-label="ConfirmarContrasenia" aria-describedby="basic-addon1">
            </div>
            <div class="row justify-content-center">
                <button class="btn ingresar_btn" [routerLink]="['/calendario']" routerLinkActive="router-link-active">Iniciar</button>
            </div>
        </div>
    </div>
    <div class="row_banner">
        <img class="banner" src="assets/images/banner.png">
    </div>
</div>