.container-fluid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #B0E0E6;
    height: 100%;
}

.clock_image {
    width: 100%;
    height: 94vh;
}

.row_banner {
    margin-top: -30px;
    width: 100%;
    height: 10%;
}

.banner {
    width: 100%;
    height: 100%;
}

.user, .lock {
    width: 30px;
    height: 30px;
}

.form-control {
    border-radius: 0%;
    border: 0;
    margin-bottom: 5%;
    width: 60%;
    border: 1px solid;
    border-color: #AC202D;
    height: 45px;
    padding-left: 30px;
}

#log_in_form {
    margin-top: 15%;
}

.col_image {
    width: 60%;
}

.col_form {
    width: 40%;
}

.ingresar_btn {
    background-color: #DD8AA5;
    width: 25%;
    margin-top: 2%;
}
